@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

header {
    background: #FFF;
}

.header-sec {
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    /* border: 2px solid tomato; */
}

.nav-container {
    /* border: 2px solid tomato; */
    display: flex;
    min-height: 20px;
    width: 50%;
    gap: 10px;
}

.nav-container img {
    width: 48px;
    height: 56.008px;
    /* padding-top: 35px; */

}

.nav-container p {
    font-size: 36px;
    font-weight: 800;


}

.travel {
    color: #FF5400;
}

.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.item-container a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.item-container .home a {
    color: #FF5400;
}

.hero {
    background-image: url(../pictures/Group\ 13\ \(1\)\ \(1\).png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 4px;
}

.hero h1 {
    color: #FFF;
    font-size: 65px;
    padding-left: 450px;
    margin-bottom: 20px;
}

.hero div {
    width: 1200px;
    height: auto;
    padding-left: 450px;
    margin-bottom: 20px;
}

.hero div p {
    color: aliceblue;
}

.hero div .text01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.hero input {
    height: 3.125rem;
    padding: 0 1.25em;
    width: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
}

.hero button {
    height: 3.125rem;
    padding: 0 1.25em;
    background-color: rgb(243, 40, 4);
    width: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.sec01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.sec01 h1 {
    font-size: 50px;
    font-weight: 700px;
    margin: 20px;
}

.sec01 p {
    color: #747474;
    margin: 20px;
}
.sec01 ul{
    padding-left: 30px;
    margin: 20px;
    color: #747474;
}
.sec01 button{
    height: 3.125rem;
    padding: 0 1.25em;
    background-color: rgb(243, 40, 4);
    width: auto;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin: 10px;
}
