@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

header {
    background: #FFF;
}

.header-sec {
    margin: 0 auto;
    display: flex;
    /* max-width: 1440px; */
    /* border: 2px solid tomato; */
}

.nav-container {
    /* border: 2px solid tomato; */
    display: flex;
    min-height: 20px;
    width: 50%;
    gap: 10px;
}

.nav-container img {
    width: 48px;
    height: 56.008px;
    /* padding-top: 35px; */

}

.nav-container p {
    font-size: 36px;
    font-weight: 800;


}

.travel {
    color: #FF5400;
}

.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.item-container a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.item-container .home a {
    color: #FF5400;
}

.hero {
    background-image: url(../pictures/Group\ 13\ \(1\)\ \(1\).png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}

.hero h1 {
    color: #FFF;
    font-size: 65px;
    padding-left: 450px;
    margin-bottom: 20px;
}

.hero div {
    width: 1200px;
    height: auto;
    padding-left: 450px;
    margin-bottom: 20px;
}

.hero div p {
    color: aliceblue;
}

.hero div .text01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.hero input {
    height: 3.125rem;
    padding: 0 1.25em;
    width: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

.hero button {
    height: 3.125rem;
    padding: 0 1.25em;
    background-color: rgb(243, 40, 4);
    width: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.sec01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.sec01 h1 {
    font-size: 50px;
    font-weight: 700px;
    margin: 20px;
}

.sec01 p {
    color: #747474;
    margin: 20px;
}

.sec01 ul {
    padding-left: 30px;
    margin: 20px;
    color: #747474;
}

.sec01 button {
    height: 3.125rem;
    padding: 0 1.25em;
    background-color: rgb(243, 40, 4);
    width: auto;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin: 10px;
}

.sec02 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

.sec02 h1 {
    padding-left: 160px;
    margin: 10px;
}

.sec02 h6 {
    padding-left: 0;
    margin: 10px;
    font-size: 12px;
    font-weight: 100px;
}

.sec03 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxx {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 580px;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
}

.sec03 .box01 {
    background-image: url(../pictures/Rectangle\ 5.png);
}

.box02 {
    background-image: url(../pictures/Rectangle\ 8.png);
}

.sec03 h3 {
    color: #FFF;
    font-size: 20px;
}

.sec04 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px;
}

.boxx01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.sec04 .box01 {
    background-image: url(../pictures/Rectangle\ 6.png);
}

.sec04 .box02 {
    background-image: url(../pictures/Rectangle\ 7.png);
}

.sec04 .box03 {
    background-image: url(../pictures/Rectangle\ 9.png);
}

.sec04 h3 {
    font-size: 20px;
    color: #FFF;
}

.sec05 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin: 30px;
}

.sec05 h3 {
    color: #FFF;
    font-size: 20px;
}

.sec05 .box01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../pictures/Rectangle\ 11.png);
    min-width: 480px;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 8px;
}

.sec05 .box02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../pictures/Rectangle\ 10.png);
    min-width: 580px;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 8px;
}

.card {

    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: center;
    margin: 100px;

}

.flex {
    display: flex;
}

.card02 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: center;
    margin-left: 500px;
}

.foot {
    display: flex;
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}

footer {
    background: rgba(19, 19, 24, 0.05);
    border: 2px solid tomato;
    width: 1440px;
    height: 502px;
}

#run {
    color: #5A5A5D;
    text-align: center;
    font-size: 6px;
    line-height: 26px;
}

